/stedisa/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/stedisa/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/stedisa/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/stedisa/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/stedisa/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/stedisa/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/stedisa/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/stedisa/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/stedisa/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/stedisa/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/stedisa/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/stedisa/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/stedisa/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/stedisa/.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
/stedisa/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/stedisa/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/stedisa/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.3.20211002-1029.xml
/stedisa/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/stedisa/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
/stedisa/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/stedisa/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/stedisa/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/stedisa/.metadata/version.ini
/stedisa/.metadata/.lock
/stedisa/.metadata/.log
/stedisa/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
/stedisa/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
